.page {
	display: block;
	position: fixed;
	top: 58px;
}

@media (max-width: 767px) {
	.page {	
		left: 0;
		bottom: 0;
		right: 0;
	}
	.toolbar {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: .25rem .75rem;
	}

		.toolbar > .btn-group{
			position: absolute;
			right: 1rem;
		}
		.toolbar > .btn-group-vertical  {
			display: none;
		}
}
	
@media (orientation: landscape) and (max-width: 767px) {
	.toolbar {
		left: auto;
		top: 0;
	}
		.toolbar > .btn-group {
			display: none;
		}
		.toolbar > .btn-group-vertical {
			position: absolute;
			right: 1rem;
			bottom: 0;
			right: auto;
			margin-bottom:.5rem;
			display: flex;
		}
			
			.toolbar > .btn-group-vertical > label {
				margin-bottom:0;
			}
}

@media (min-width: 768px) {
	.page {	
		left: 15px;
		bottom: 15px;
		right: 15px;
	}
	.toolbar {
		position: relative;
		padding: .25rem .75rem;
	}
		.toolbar > .btn-group  {
			position: absolute;
			right: 0;
			bottom: auto;
		}
		.toolbar > .btn-group-vertical {
			display: none;
		}
}
