.viewport {
	position: absolute;
	border: 1px solid rgba(0,0,0,.125);
	padding: .75rem 1.25rem;
	overflow: auto;
}
@media (max-width: 767px) {
	.viewport {
		top: 15px;
		bottom: 60px;
		left: 5px;
		right: 5px;
	}
}
@media (orientation: landscape) and (max-width: 767px) {	
	.viewport {
		top: 5px;
		bottom: 5px;
		left: 15px;
		right: 85px;
	}
}
@media (min-width: 768px) {
	.viewport {
		top: 60px;
		bottom: 15px;
		left: 15px;
		right: 15px;
	}
}