<div class="toolbar bg-faded">
	<button (click)="goBack();" aria-label="Back" class="btn btn-secondary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</button>
	<button (click)="save(smartForm);" aria-label="Save" class="btn btn-primary" *ngIf="( mode === 'edit' || mode === 'create' ) && smartForm.form.valid && smartForm.form.dirty"><!-- && smartForm.form.dirty-->
		<i class="fa fa-floppy-o" aria-hidden="true"></i>
	</button>
	<button (click)="delete();" aria-label="delete" class="btn btn-secondary" *ngIf="mode === 'edit'">
		<i class="fa fa-trash" aria-hidden="true"></i>
	</button>
	<div *ngIf="mode !== 'create'" class="btn-group right" data-toggle="buttons">
		<label aria-label="switch to edit" class="btn btn-secondary"
			[class.active]="mode === 'edit'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchEditMode('edit')" 
					[checked]="mode === 'edit'">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		</label>
		<label aria-label="switch to show" class="btn btn-secondary"
			[class.active]="mode ==='show'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchEditMode('show')"
					[checked]="mode ==='show'">
				<i class="fa fa-eye" aria-hidden="true"></i>
		</label>
	</div>
	<div *ngIf="mode !== 'create'" class="btn-group-vertical" data-toggle="buttons">
		<label aria-label="switch to edit" class="btn btn-secondary"
			[class.active]="mode === 'edit'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchEditMode('edit')" 
					[checked]="mode === 'edit'">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		</label>
		<label aria-label="switch to show" class="btn btn-secondary"
			[class.active]="mode ==='show'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchEditMode('show')"
					[checked]="mode ==='show'">
				<i class="fa fa-eye" aria-hidden="true"></i>
		</label>
	</div>
</div>

<div *ngIf="model && metadata" class="viewport">
  <h2>{{model.name}} details!</h2>
	
	<form #smartForm="ngForm" novalidate class="container-fluid" >
		<smart-input *ngFor="let key of keys" class="row"
			[(model)]="model" [metadata]="metadata.properties[key]" [mode]="mode" name="{{key}}">
		</smart-input>
	</form>

	<busy-indicator [loader]="loader"></busy-indicator>
</div>
