.busy-outer {
  position: fixed;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
	background-color: gray;
	z-index: 3;
	opacity: 0.5;
}

	.busy-outer > div {
		background-color: white;
		position: absolute;
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0;
		margin: auto;
		width: 150px;
		height: 65px;
		opacity: 1;
		border-style: solid;
		border-radius: 10px;
	}

		.busy-outer > div > i {
			padding: 5px;
		}
