<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded" >
	<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" 
			data-target="#navbarSupportedContent" 
			aria-controls="navbarSupportedContent" 
			aria-expanded="false" 
			aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Brand</a>

	<div class=" collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/models/import" routerLinkActive="active">Import</a>
			</li>
		</ul>
	</div>
</nav>