master {
	position:absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
}

.detail  {
	position:absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
}

@media (max-width: 767px) {
	master {
		right: 0;
	}
	
	.detail {
		left: 0;
	}
}

@media (min-width: 768px) {	
	master {
		right: 67%;
	}
	
	.detail  {
		left: 34%;
	}
}