<div class="page">

	<master [class.hidden-sm-down]="router.url && router.url!=='/models'"></master>
	<div class="detail" [class.hidden-sm-down]="router.url && router.url==='/models'">
		<router-outlet></router-outlet>
	</div>
</div>
