<div class="progress">
	<div class="progress-bar" *ngIf="(models ? models.length: 0) < count" role="progressbar" 
		attr.aria-valuenow="{{models ? models.length * 100 / count: 0}}" 
		attr.aria-valuemax="{{count}}"
		[style.width.%]="models ? models.length * 100 / count: 0"></div>
</div>

<div class="list-group" (scroll)="onScroll($event)">

	<a *ngFor="let model of models" class="list-group-item"
			(click)="onSelect(model)" 
			[class.active]="model.isSelected"
			[class.list-group-item-action]="!model.isSelected"
			aria-label="navigate to">
		<div class="item-template">{{model.id}} {{model.name}}</div>		
		<i aria-hidden="true" class="fa"
			[class.fa-chevron-right]="selectMode.mode=='select-single'"
			[class.fa-check-square-o]="selectMode.mode=='select-multi'" ></i>
		<!--<button (click)="delete(model); $event.stopPropagation()">Delete</button>-->
	</a>
</div>

<div class="toolbar bg-faded">
	<button (click)="create();" aria-label="create new" class="btn btn-secondary">
		<i class="fa fa-plus" aria-hidden="true"></i>
	</button>
	<button (click)="deleteSelected();" aria-label="delete selected items" class="btn btn-secondary" *ngIf="selectMode.mode=='select-multi' && countSelected.value">
		<i class="fa fa-trash" aria-hidden="true"></i>
	</button>
	<button (click)="exportSelected();" aria-label="export selected items" class="btn btn-secondary" *ngIf="selectMode.mode=='select-multi' && countSelected.value">
		<i class="fa fa-download" aria-hidden="true"></i>
	</button>
	<div class="btn-group" data-toggle="buttons">
		<label aria-label="switch to single select" class="btn btn-secondary"
			[class.active]="selectMode.mode === 'select-single'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchSelectMode('select-single')" 
					[checked]="selectMode.mode === 'select-single'">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</label>
		<label aria-label="switch to multi select" class="btn btn-secondary"
			[class.active]="selectMode.mode=='select-multi'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchSelectMode('select-multi')"
					[checked]="selectMode.mode=='select-multi'">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
		</label>
  </div>
	<div class="btn-group-vertical" data-toggle="buttons">
		<label aria-label="switch to single select" class="btn btn-secondary"
			[class.active]="selectMode.mode === 'select-single'"><input type="radio" name="select-mode" autocomplete="off"
					(click)="switchSelectMode('select-single')" 
					[checked]="selectMode.mode === 'select-single'">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</label>
		<label aria-label="switch to multi select" class="btn btn-secondary"
			[class.active]="selectMode.mode=='select-multi'">
			<input type="radio" name="select-mode" autocomplete="off"
					(click)="switchSelectMode('select-multi')"
					[checked]="selectMode.mode=='select-multi'">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
		</label>
  </div>

<busy-indicator [loader]="loader"></busy-indicator>

