.list-group {    
	position: absolute;
	overflow: auto;
	display: block;
}
	a.list-group-item {
		cursor: pointer;
	}
	.list-group-item > i {
		position: absolute;
		right: 4px;
		padding: 4px;
		top: 30%;
	}
	
.progress {
	position: absolute;
	height: 5px;
}

@media (max-width: 767px) {
	.list-group {
		right: 15px;
		left: 15px;
		top: 12px;
		bottom: 47px;
	}
	
	.progress {
		top: 0;
		left: 15px;
		right: 15px;
	}
}
	
@media (orientation: landscape) and (max-width: 767px) {
	.list-group {
		bottom: 15px;
		right: 85.18px;
	}	
	.progress {
		right: 85.18px;
	}
}

@media (min-width: 768px) {
	.progress {
		top: 45.6px;
		left: 0;
		right: 0;
	}
	.list-group {
		right: 0;
		left: 0;
		top: 58px;
		bottom: 5px;
	}
}
	
