<label for="{{name}}" class="col-sm-4 col-form-label">{{metadata.label}}</label><!--form-control-label-->
<div class="col-sm-8" [ngSwitch]="metadata.type">
	<div class="form-group" *ngSwitchCase="'file'">
		<label class="custom-file">
			<input class="custom-file-input" name="{{name}}" id="{{name}}" 
					[type]="metadata.type" 
					[required]="metadata[mode] === 'required'? true: null"
					[(ngModel)]="model[name]"
					#input="ngModel"
					[class.form-control-danger]="input.dirty && input.invalid"
					[class.form-control-success]="input.dirty && input.valid" >
			<span class="custom-file-control"></span>
		</label>
		
		<div [hidden]="input.valid || input.pristine" class="form-control-feedback">
			{{name}} is required 
		</div>
	</div>
	
	<div class="form-group" *ngSwitchDefault
			 [class.has-danger]="input.dirty && input.invalid"
			 [class.has-success]="input.dirty && input.valid">
		
		<div class="input-group">
			<span *ngIf="metadata.isKey" class="input-group-addon" id="key-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
			<input class="form-control" name="{{name}}" id="{{name}}" 
				[type]="metadata.type" 
				[(ngModel)]="model[name]"
				[required]="metadata[mode] === 'required'? true: null" 
				[readonly]="metadata[mode] === 'readonly'? true: null"
				[placeholder]="metadata[mode] === 'required'? 'required': null"
				#input="ngModel"
				[class.form-control-danger]="input.dirty && input.invalid"
				[class.form-control-success]="input.dirty && input.valid">
		</div>
		<div [hidden]="input.valid || input.pristine" class="form-control-feedback">
			{{name}} is required 
		</div>
		
	</div>
</div>


